*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('bg\ \(2\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-us {
    padding: 60px 50px;
    color: #333;
    max-width: 1000px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}



  .contact-container {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact-info,
  .contact-form {
    flex: 1;
    min-width: 300px;
  }
  
  .contact-info {
    color: #333;
  }
  
  .contact-info h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-info p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    font-family: inherit;
  }
  
  .contact-form textarea {
    resize: vertical;
    height: 100px;
  }
  
  .contact-form button {
    background-color:#685147;
    color: #fff;
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color:#647f72;
  }
  